# Stop file viewing
Options -Indexes -MultiViews

# Rewrite all traffic through index

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./index.php
